{% extends "main.html" %}
{% block content %}
        <h2>Delete Item</h2>
        <p> Você tem certeza que deseja deletar? <strong>{{item.title}}</strong>?</p>
        <form action="{{url_for('deleteItem', category_name = category_name|lower, item_name = item.title|lower)}}" method = 'POST'>
            <input type='submit' value='Delete'>
        </form>
        <p><br><a href="{{url_for('showItem', category_name = category_name|lower, item_name = item.title|lower)}}">Cancelar</a></p>
{% endblock %}
